@font-face {
  font-family: 'SmileySans'; /* 重命名字体名 */
  src: url('https://app4362.acapp.acwing.com.cn/acapp/fonts/SmileySans-Oblique.eeb29335.ttf');
  font-weight: normal;
  font-style: normal;
}